annotated-types
anyio
asttokens
click
colorama
comm
debugpy
decorator
executing
fastapi
h11
idna
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso 
platformdirs 
prompt_toolkit 
psutil 
pure_eval 
pydantic 
pydantic_core 
Pygments 
python-dateutil==2.9.0
python
post0
pytz 
pywin32 
zmq 
scikit-learn 
scipy 
six 
sniffio 
stack-data 
starlette 
threadpoolctl 
tornado 
traitlets 
typing_extensions 
tzdata 
uvicorn 
wcwidth 
